*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.animate__animated.animate__fadeInUp {
    --animate-duration: 1s;
  }

body{
    font-family: 'Share Tech Mono', monospace;
    background-color: white;


}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:4%;
}

.carrossel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:8% 0;
}

.foto{
    width:clamp(12rem, 2.5vw, 15rem);
    border-radius: 5px;
    margin:0 3%;
}

.icone-direito,.icone-esquerdo{
    width:clamp(1rem, 2.5vw, 2rem);
    cursor: pointer;
}

.nome{
    display:flex;
    align-items: center;
}

.verificado{
    margin:1%;
}

.sobre{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin:0 5%;
    height:clamp(35rem, 2.5vw, 38rem);
    background-color:#F4FFF2 ;
    padding:0 2%;

}

.close_x{
    width:clamp(1rem, 2.5vw, 2rem);
    margin:2% 0 0 0;
    float:right;
}

.sobre-mais, .about{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    height:clamp(5rem, 2.5vw, 8rem);

}

.chatbot{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:0 5%;
    height:clamp(35rem, 2.5vw, 38rem);

}

.chatbot iframe{
    height:clamp(30rem, 2.5vw, 38rem);
    width:clamp(30rem, 2.5vw, 30rem);
    margin:0% 0;
    display:inline-block;
}

.btn{
    display:inline-block;
    background-color: black;
    color:#28FF0D;
    text-decoration: none;
    font-size:clamp(1rem, 2.5vw, 1.2rem);
    text-align: center;
    border-radius: 50px;
    padding:1% 5%;
    margin:8% 5%;
    width:clamp(25rem, 2.5vw, 30rem);
}

footer{
    display:inline-block;
    background-color: black;
    color:white;
    display:flex;
    align-items: center;
    padding:0.8%;
    justify-content: center;
    bottom:0;
}

.logo_rodape{
    width:clamp(3.5rem, 2.5vw, 5rem);
}

.text_rodape{
    font-size:clamp(1rem, 2.5vw, 1.2rem);
}

